/* Style for the scrollbar track */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar thumb */
  }
  